
#SubGraphEditor {
    background-color: LightGray;
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 10px 10px 10px 10px;
}

#GraphItemMenu {
    background-color: #d5d5d5;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 10px 0 10px 0;
}

#MenuOptions {
    margin: auto;
    width: 60%;
}

#Entity {
    height: 100px; /* Make a percentage */
    width: 100px; /* Make a percentage */
    background-color: #c22121;
    border-radius: 50%;
    display: block;
    padding: 3px;
}

#Literal {
    height: 75px; /* Make a percentage */
    width: 100px; /* Make a percentage */
    background-color: #2424d1;
    border-radius: 10%;
    display: block;
    padding: 1px;
}

.SubgraphEntity {
    height: 100px; /* Make a percentage */
    width: 100px; /* Make a percentage */
    background-color: #c22121;
    border-radius: 50%;
    display: block;
    padding: 3px;
}

.SubgraphLiteral {
    height: 75px; /* Make a percentage */
    width: 100px; /* Make a percentage */
    background-color: #2424d1;
    border-radius: 10%;
    display: block;
    padding: 1px;
}

p {
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: Arial;
}

#SubGraphCanvas {
    background-color: #e4eeb2;
    display: block;
    height: 575px; /* Make a percentage */
    width: 100%;
    border-radius: 0 0 10px 10px;
}
